.row{
    
  height: 500px;
  margin-top: 21px;
  box-shadow: 0 15px 15px 0 rgb(0 0 0 / 20%), 0 15px 20px 0 rgb(0 0 0 / 31%);
  
  
  
}
.col-sm-3 {
-ms-flex: 0 0 25%;
flex: 0 0 8%;
max-width: 55%;
flex-direction: row;
}
.col-sm-2{
  background-color: rgb(9, 94, 82) !important;
  flex-direction: vertical;
  height: 100%;
  text-align: center;
}
.col-sm-10{
  background-color: black!important;
  height: 100%;
  flex-direction: vertical !important;
  
}

img {
  width: 108%;
  border-radius: 52%;
  height: 136px;
  
  
}
h1{
  color: white;
  font-size: 29px;
 
}
p{
  color: white; 
  align-content: center;
}
p3{
  color: white;
  font-size: 1vw;
}
h3{
  color: white;
  font-size: 1.5vw;
  margin-top: 8%;
}
p4{
  font-size:1.5vw;
  color: white;
}
p1{
  color: white;
  font-size: 1vw;
}
body{
  background-color: rgb(255, 255, 255);
}
h4{
  color: white;
  font-size: 1.5vw;
  margin-top: 4%;
}
.line{
  height: 0px;
  width: 105%;
   border-width:0;

   border: 0.5px white solid;
}
.col-sm-4 {
-ms-flex: 0 0 33.333333%;
flex: 0 0 33.333333%;
max-width: 12.333333%;
}
